@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed';
}

:root {
  --riscoFisico: #2FA84F;
  --riscoQuimico: #DF2D2D;
  --riscoBiologico: #73432A;
  --riscoErgonomico: #F3AA18;
  --riscoAcidente: #1A5AFD;
}

.x-accordion-group,
.x-accordion-heading {
    border-radius: 4px;
}
.x-accordion-inner {
    border-radius: 0 0 4px 4px;
}

.fisico .accordion-button{
  background-color: var(--riscoFisico);
}
.fisico .accordion-button:not(.collapsed){
  background-color: var(--riscoFisico);
}

.quimico .accordion-button{
  background-color: var(--riscoQuimico);
}
.quimico .accordion-button:not(.collapsed){
  background-color: var(--riscoQuimico);
}

.biologico .accordion-button{
  background-color: var(--riscoBiologico);
}
.biologico .accordion-button:not(.collapsed){
  background-color: var(--riscoBiologico);
}

.ergonomico .accordion-button{
  background-color: var(--riscoErgonomico);
}
.ergonomico .accordion-button:not(.collapsed){
  background-color: var(--riscoErgonomico);
}

.acidente .accordion-button{
  background-color: var(--riscoAcidente);
}
.acidente .accordion-button:not(.collapsed){
  background-color: var(--riscoAcidente);
}

.accordion-button{
  color: white !important;
}
.accordion-button:not(.collapsed){
  color: white !important;
}

.reportar{
  background-color: #6D1D20 !important;
}

.bg-reportar{
  border-color: #6D1D20 !important;
}

body, html {
  height: 100%;
}

#root{
  height: 100%;
}