@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed';
}

:root {
  --riscoFisico: #2FA84F;
  --riscoQuimico: #DF2D2D;
  --riscoBiologico: #73432A;
  --riscoErgonomico: #F3AA18;
  --riscoAcidente: #1A5AFD;
}